.btn-style {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 20px;
}
.h-auto {
    height: auto;
}
.mb-15 {
    margin-bottom: 15px;;
}
.center-items {
    display: flex;
    justify-content: center;
    align-content: space-around;
    height: 100vh;
    flex-wrap: wrap;
}